.menu {
	background-color: rgba(39, 187, 245,.6)!important;
	margin-top: 0px!important;
	font-family: 'Fredoka One', cursive !important;
}
.item {
	color: white!important;
}

.ui.grid {
	padding-top: 20px !important;
}
footer {

}
figcaption {
	text-align:center;
	font-family: 'Fredoka One', cursive !important;
}
.container {
	background-color: rgba(223,232,95,.96) !important;
	padding-left: 1em;
	padding-right: 1em;
}
body {
	background-image:url(../images/space2.png);
	background-attachment:fixed;
	background-repeat: no-repeat;
}



.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {
  background: rgba(57, 170, 227, 0.6) !important;
  color: rgba(27, 179, 67, 0.95) !important;
}

.ui.selectable.inverted.table tbody tr:hover,
.ui.inverted.table tbody tr td.selectable:hover {
  background: rgba(223,232,95,.9) !important;
  color: rgba(18,161,5, 1) !important;
}

.ui.selectable.inverted.table {
	background: rgba(54,177,214, .9) !important;
	color: #ffffff!important;
}

.card {
	   color: rgba(54,177,214, .9) !important;
	   font-weight: bold;
}
.ui.inverted.dimmer {
  background-color: rgba(255, 255, 255, 0.85);
}
.blurring.dimmable > .inverted.dimmer {
  background-color: rgba(223,232,95,.9) !important;
}

.ui.inverted.dimmer > .content > * {
  color: dodgerblue;
  font-size:18px;
}

#white {
	color: white !important;
}
p, label {
	text-align:left !important;
	font-family: 'Fredoka One', cursive;
	color: black;
}

h1,h2 {
	color: rgba(39, 187, 245,1);
	font-family: 'Fredoka One', cursive;
	font-size:2em;
}
#test {
	padding:0!important;
	margin-top: 5px;
}

.ui.inverted.button:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0px 2px #FFFFFF inset !important;
  box-shadow: 0px 0px 0px 2px #FFFFFF inset !important;
  color: #FFFFFF !important;
}

.ui.inverted.blue.buttons .button,
.ui.inverted.blue.button {
  background-color: transparent;
  color: rgba(39, 187, 245,1);
}

.ui.inverted.blue.buttons .button:hover,
.ui.inverted.blue.button:hover,
.ui.inverted.blue.buttons .button:focus,
.ui.inverted.blue.button:focus,
.ui.inverted.blue.buttons .button.active,
.ui.inverted.blue.button.active,
.ui.inverted.blue.buttons .button:active,
.ui.inverted.blue.button:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #FFFFFF;
}

.ui.inverted.blue.buttons .button:hover,
.ui.inverted.blue.button:hover {
  background-color: rgba(39, 187, 245,1);;
}

.ui.inverted.blue.buttons .button:focus,
.ui.inverted.blue.button:focus {
  background-color: #2bbbff;
}

.ui.inverted.blue.buttons .active.button,
.ui.inverted.blue.active.button {
  background-color: #3ac0ff;
}

.ui.inverted.blue.buttons .button:active,
.ui.inverted.blue.button:active {
  background-color: rgba(39, 187, 245,1);;
}

/* Inverted Basic */

.ui.inverted.blue.basic.buttons .button,
.ui.inverted.blue.buttons .basic.button,
.ui.inverted.blue.basic.button {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #FFFFFF !important;
}



.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  cursor: pointer;
  background: rgba(39, 187, 245,1);
  color: yellow!important;
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
  background-color: rgba(39, 187, 245,1)!important;
  color: yellow!important;
}

.ui.menu .active.item {
  background: rgba(39, 187, 245,1)!important;
  color: yellow !important;
  font-weight: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui.menu .ui.dropdown .menu > .active.item {
  background: rgba(0, 0, 0, 0.03) !important;
  color: yellow!important;
}
/* Active */

.ui.secondary.menu .active.item {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(39, 187, 245,1)!important;
  color: rgba(0, 0, 0, 0.95);
  border-radius: 0.28571429rem;
}

/* Active Hover */

.ui.secondary.menu .active.item:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.05);
  color: yellow!important;
}
